<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pe-2">
      <div class="d-flex">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro:</div>
          </div>
          <input type="text" class="form-control" placeholder="Filtrar por tema ou local" [(ngModel)]="filtroLista">
        </div>
      </div>
    </div>
    <div>
      <a style="cursor: pointer;" class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ms-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th class="d-none d-md-table-cell">
          <button class="btn btn-sm btn-outline-light" (click)="isCollapsed = !isCollapsed">
            <i class="{{ (isCollapsed) ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
            {{ (isCollapsed) ? 'Exibir' : 'Ocultar' }}
          </button>
        </th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd. Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrado" style="cursor: pointer;" (click)="eventoDetalhe(evento.id)">
        <td>{{ evento.id }}</td>
        <td class="d-none d-md-table-cell">
          <img src="/assets/{{ evento.imagemURL }}" alt=""
          [style.width.px]="widthImg" [style.margin.px]="marginImg" [collapse]="isCollapsed" [isAnimated]="true"
          />
        </td>
        <td>{{ evento.tema }}</td>
        <td class="d-none d-md-table-cell">{{ evento.local }}</td>
        <td>{{ evento.dataEvento | DateTimeFormat}}</td>
        <td class="d-none d-md-table-cell">{{ evento.qtdPessoa }}</td>
        <td class="d-none d-md-table-cell">{{ evento.lotes[0]?.nome | uppercase}}</td>
        <td>
            <button class="btn  btn-danger btn-lg" tooltip="Excluir" (click)="openModal($event, template, evento.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="eventos === [] && !eventos.length">
      <tr>
        <td colspan="8" class="text-center mt-2">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Voce tem certeza que deseja deletar o evento de codigo {{ eventoId }}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
